<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.EmployeeDao">
    <resultMap id="BaseResultMap" type="com.example.pojo.EmployeeVO">
        <result column="e_id" jdbcType="BIGINT" property="eId" />
        <result column="e_last_name" jdbcType="VARCHAR" property="eLastName" />
        <result column="e_gender" jdbcType="INTEGER" property="eGender" />
        <result column="e_email" jdbcType="VARCHAR" property="eEmail" />
        <result column="e_d_id" jdbcType="BIGINT" property="eDId" />
        <result column="e_crt_time" jdbcType="TIMESTAMP" property="eCrtTime" />
    </resultMap>

    <sql id="Base_Column_List">
        e_id,e_last_name,e_gender,e_email,e_d_id,e_crt_time
    </sql>

    <!--查询所有员工信息-->
    <select id="getAll" resultMap="BaseResultMap">
        SELECT
	      <include refid="Base_Column_List" />
        FROM
	      employee em
    </select>
</mapper>